@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-image: url('./img/img.jpg');
    font-family: 'Poppins',sans-serif;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    min-height:100vh;
    background-position: center center;
}
h1{
    font-size: 4rem;
    font-weight: normal;
}
.big-text{
    font-size: 6rem;
    line-height: 1;
    margin:0 2rem;
    font-weight: bold;
}
.countdown-container{
    display: flex;
}

.countdown-el{
    text-align:center;
}

countdown-el span{
    font-size: 1.5rem;
}